<%- include('../partials/header') %>
<div class="content-card">
<div class="wrapper">
<h1>Contact Us</h1>

<form action="/contact" method="POST" id="contactForm">
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="Your Name" required />

  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="Your Email" required />

  <label for="message">Message:</label>
  <textarea name="message" rows="5" placeholder="Your Message" required></textarea>

  <button type="submit">Send</button>
</form>
</div>
</main>
</div>
<%- include('../partials/footer') %>

<script src="/js/script.js"></script>