<%- include('../partials/header') %>

<div class="wrapper">
  <main>
    <h1>Welcome to the Community Portal</h1>
    <p>This is a placeholder for upcoming events.</p>
  </main>


<%- include('../partials/footer') %>
</div>
