<%- include('../partials/header') %>
  <div class="content-card">
  <div class="wrapper">
  <div class="thank-you-container">
  <h1>Thank You!</h1>
  <p class="thank-you-message">Your message has been received!</p>
  <a href="/" class="thank-you-button">Go to Home</a>
</div>
</div>
  </main>
<%- include('../partials/footer') %>