<%- include('../partials/header') %>
<div class="content-card">
  <header>
    <h1>Community Portal</h1>
  </header>
  <div class="wrapper">
  <main>
    <div class="thank-you-container">
  <h1>Thank You!</h1>
  <p class="thank-you-message">Your message has been received!</p>
  <a href="/" class="thank-you-button">Go to Home</a>
</div>
</div>
  </main>
  </div>
  <%- include('../partials/footer') %>
